---
title: Jeff Stolz | About
---

<%= image_tag "profile.png", :class => "about__profile", :alt => t("about.profile-alt") %>
<section class="about__section">
    <div class="about__section-header">
        <h1><%= t("about.about-me") %></h1>
    </div>
    <div class="about__section-content">
        <p><%= t("about.about-me-content-1") %></p>
        <p><%= t("about.about-me-content-2") %></p>
    </div>
</section>
<section class="about__section">
    <div class="about__section-header">
        <h1><%= t("about.specialties") %></h1>
    </div>
    <div class="about__section-content">
        <ul>
            <li><%= t("about.ux-design") %></li>
            <li><%= t("about.interaction-design") %></li>
            <li><%= t("about.information-architecture") %></li>
            <li><%= t("about.front-end-dev") %></li>
            <li><%= t("about.usability-testing") %></li>
            <li><%= t("about.product-design") %></li>
    </div>
</section>
