---
title: Jeff Stolz - About
---

<main class="split-layout">

  <%= image_tag(
    "profile.jpg",
    class: "about__profile",
    alt: t("about.profile-alt"),
  ) %>

  <section class="split-layout__section">
    <h1 class="split-layout__section-header">
      <%= t("about.about-heading") %>
    </h1>
    <div class="split-layout__section-content">
      <p><%= t("about.about-content-1") %></p>
      <p><%= t("about.about-content-2") %></p>
    </div>
  </section>

  <section class="split-layout__section">
    <h2 class="split-layout__section-header">
      <%= t("about.specialties-heading") %>
    </h2>
    <ul class="split-layout__section-content">
      <li><%= t("about.specialties-li-1") %></li>
      <li><%= t("about.specialties-li-2") %></li>
      <li><%= t("about.specialties-li-3") %></li>
      <li><%= t("about.specialties-li-4") %></li>
      <li><%= t("about.specialties-li-5") %></li>
      <li><%= t("about.specialties-li-6") %></li>
    </ul>
  </section>

  <section class="split-layout__section">
    <h2 class="split-layout__section-header">
      <%= t("about.tools-heading") %>
    </h2>
    <p class="split-layout__section-content">
      <%= t("about.tools-content") %>
    </p>
  </section>

  <section class="split-layout__section">
    <h2 class="split-layout__section-header">
      <%= t("about.resume-heading") %>
    </h2>
    <p class="split-layout__section-content">
      <%= t("about.resume-content") %>
      <%= link_to t("about.resume-link"),
      "images/jeff-stolz-resume.pdf" %>
    </p>
  </section>

</main>
