---
title: Jeff Stolz - Product Designer NOT LOOKING LIKE MY JOB
---

<main class="index">

  <h1><%= t("index.welcome-heading") %></h1>
  <h4><%= t("index.welcome-subheading") %></h3>

  <section class="index__cards">

    <% link_to "mobile-heartbeat.html", class: "index__case" do %>
      <div class="index__case--overlay">
        <p class="index__case-description">
          <%= t("index.mh-content") %>
        </p>
      </div>
      <h6 class="index__case-heading">
        <%= t("universal.case-study-heading") %>
      </h6>
      <%= image_tag(
        "mh-thumb.png",
        class: "index__thumbnail",
        alt: t("index.mh-alt"),
      ) %>
    <% end %>

    <% link_to "hmh-marketplace.html", class: "index__case" do %>
      <div class="index__case--overlay">
        <p class="index__case-description">
          <%= t("index.hmh-content") %>
        </p>
      </div>
      <h6 class="index__case-heading">
        <%= t("universal.design-sprint-heading") %>
      </h6>
      <%= image_tag(
        "hmh-thumb.png",
        class: "index__thumbnail",
        alt: t("index.hmh-alt"),
      ) %>
    <% end %>

    <% link_to "pegasystems.html", class: "index__case" do %>
      <div class="index__case--overlay">
        <p class="index__case-description">
          <%= t("index.pega-content") %>
        </p>
      </div>
      <h6 class="index__case-heading">
        <%= t("universal.design-system-heading") %>
      </h6>
      <%= image_tag(
        "hmh-thumb.png",
        class: "index__thumbnail",
        alt: t("index.pega-alt"),
      ) %>
    <% end %>

    <% link_to "pegasystems.html", class: "index__case" do %>
      <div class="index__case--overlay">
        <p class="index__case-description">
          <%= t("index.hackathon-content") %>
        </p>
      </div>
      <h6 class="index__case-heading">
        <%= t("universal.hackathon-heading") %>
      </h6>
      <%= image_tag(
        "hmh-thumb.png",
        class: "index__thumbnail",
        alt: t("index.pega-alt"),
      ) %>
    <% end %>

  </section>

</main>
