---
title: Case Study - Mobile Heartbeat
---

<main class="split-layout">

  <h1><%= t("mh.heading") %></h1>
  <p><%= t("work.case-study") %></p>
  <h4 class="work__overview"><%= t("mh.overview") %></h4>
  <%= image_tag(
    "mh-overview.jpg", 
    class: "work__image--large-spacing", 
    alt: t("mh.overview-alt"),
  ) %>

  <section class="split-layout__section">
    <h2 class="split-layout__section-header">
      <%= t("mh.problem") %>
    </h2>
    <div class="split-layout__section-content">
      <p><%= t("mh.problem-content") %></p>
    </div>
  </section>

  <hr class="split-layout__divider"></hr>

  <section class="split-layout__section">
    <h2 class="split-layout__section-header">
      <%= t("mh.users") %>
    </h2>
    <div class="split-layout__section-content">
      <p><%= t("mh.users-content") %></p>
    </div>
  </section>

  <hr class="split-layout__divider"></hr>

  <section class="split-layout__section">
    <h2 class="split-layout__section-header">
      <%= t("mh.team") %>
    </h2>
    <div class="split-layout__section-content">
      <p><%= t("mh.team-content") %></p>
    </div>
  </section>

  <hr class="split-layout__divider"></hr>

  <section class="split-layout__section">
    <h2 class="split-layout__section-header">
      <%= t("mh.discovery") %>
    </h2>
    <div class="split-layout__section-content">
      <p><%= t("mh.discovery-content") %></p>
    </div>
  </section>

  <%= image_tag(
    "mh-discovery.jpg", 
    class: "work__image--small-spacing", 
    alt: t("mh.discovery-alt"),
  ) %>
  <p><%= t("mh.discovery-footnote") %></p>

  <%= image_tag(
    "mh-persona.jpg", 
    class: "work__image--small-spacing", 
    alt: t("mh.persona-alt"),
  ) %>
  <p><%= t("mh.persona-footnote") %></p>

  <hr class="split-layout__divider"></hr>

  <section class="split-layout__section">
    <h2 class="split-layout__section-header">
      <%= t("mh.design-process") %>
    </h2>
    <div class="split-layout__section-content">
      <p><%= t("mh.design-process-content") %></p>
    </div>
  </section>

  <%= image_tag(
    "mh-design-process-sketch.jpg", 
    class: "work__image--small-spacing", 
    alt: t("mh.design-process-alt"),
  ) %>
  <p><%= t("mh.design-process-footnote") %></p>

  <%= image_tag(
    "mh-wireframe.jpg", 
    class: "work__image--small-spacing", 
    alt: t("mh.wireframe-alt"),
  ) %>
  <p><%= t("mh.wireframe-footnote") %></p>

</main>
